QWidget {
	background-color: #232323;
}

QLabel {
    font-size: 16px;
	color: #fafafa;
}

QLabel:disabled {
	color: #5A5A5A;
}

#btn_close {
	border-radius: 0px;
	background-color: #47A6E5;
}

#btn_close::hover {
	background-color: hsl(0, 200, 200);
}

#btn_minimize {
	border-radius: 0px;
	background-color: #47A6E5;
}

#btn_minimize::hover {
	background-color: rgb(15, 108, 198);
}

#btn_maximize {
	border-radius: 0px;
	background-color: #47A6E5;
}

#btn_maximize::hover {
	background-color: rgb(15, 108, 198);
}

QLineEdit,
QLineEdit:hover {
	border-radius: 5px;
	height: 30px;
	border: 1px solid rgb(50, 50, 50);
	padding-bottom: 2px;
	padding-left: 4px;
	font-size: 16px;
	background-color: rgb(30, 30, 30);
	color: #fafafa;
}

QLineEdit:disabled {
	color: #5A5A5A;
}

QTableView {
	border: none;
	background-color: #232323;
}

QTableView::item {
	color: #fafafa;
	border: none;
	padding: 2px;
}

QHeaderView {
	background-color: #232323;
}

QHeaderView::section {
	border: 1px solid rgb(100, 100, 100);
	background-color: #232323;
	color: #fafafa;
	border-radius: 4px;
}
