[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "==1.4.39"
phonenumbers = "==8.12.51"
pyside6 = "*"
python-dateutil = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
